<div class="challenge-wrapper">
  <div class="challenge-item challenge-letter-section">
    <div class="letter-section">
      <ng-container *ngIf="!!(selectedLetter$ | async); else emptyLetterRef">
        <div class="letter letter-initial">{{ (selectedLetter$ | async).char | initialLetter}}</div>
        <app-letter-image class="letter letter-image-wrapper" [letter]="(selectedLetter$) | async"></app-letter-image>
      </ng-container>
    </div>
    <ng-template #emptyLetterRef>
      <div class="letter letter-initial">#</div>
      <div class="letter letter-image"></div>
    </ng-template>
  </div>
  <div class="challenge-item challenge-word-section">
    <app-finding-letter [selectedLetter]="selectedLetter$ | async"></app-finding-letter>
  </div>
  <div class="challenge-item challenge-letter-list-section">
    <app-small-letter
      *ngFor="let letter of letters$ | async"
      [letter]="letter"
      (selectLetter)="selectLetter($event)"
    ></app-small-letter>
  </div>
</div>
